client/public/How To/3 - Even if your feeling shy, approach them and ask for a picture. Cosplayers work hard on their costumes and one of the most rewarding feelings is to be recognized and appreciated. That being said, cosplay is not consent, always ask for permission.png
client/public/How To/3 - Even if your feeling shy, approach them and ask for a picture. Cosplayers work hard on their costumes and one of the most rewarding feelings is to be recognized and appreciated. That being said, cosplay is not consent, always ask for permission.png
